.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 1.5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 20px;

  &__link {
    text-decoration: none;
    margin: 0 16px;
    color: cadetblue;
    text-transform: uppercase;
  }
}
