.delete_confirm_box {
  padding: 10px 35px 10px 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.confirm_text {
  //   margin-bottom: 35px;
  margin: 25px 0;
}

.confirm_btns {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
